// Tipografías

$fuenteTitulos: "Impact", sans-serif;
$fuenteParrafos: "Roboto", sans-serif;

// Medias Queries

$smartphone: 480px;
$tables: 768px;
$desktop: 1024px;

//Colores

$principal: rgb(107, 107, 236);
$secundario: rgb(142, 36, 148);
$terciario: rgb(235, 165, 177);
$negro: #000;
$blanco: #ffffff;

// Unidades
$separacion: 5rem;