@use '../abstracts/variables' as *;
.cities{
    margin-top: 3rem;
margin-bottom: 6rem;
&__title{

font-family: $fuentePrincipal;
margin-bottom: 3rem;
}
&__title-main{
    font-size: 3.5rem;
    font-weight: bold;
    color: $negro;
}
&__cards{
}
}