@use '../abstracts/variables.scss' as *;

.header {
  position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  &__hero {
   
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  &__hero-image {

    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  &__title {
    position: absolute;
    color: $blanco;
    text-shadow: 0 2px 6px rgba(0,0,0,.6);

  }
  &__title_main {
    font-family: $fuentePrincipal;
  }
&__title_main-welcome{
padding: 0;
font-size: 5rem;
margin-top: 1rem;
   
}
  &__title_sub {
    font-family: $fuenteSecundaria;
    font-style: italic;
  }
  &__title_subtitle{
padding: 0;
font-size: 2rem;
  white-space: nowrap;


}
}