@use '../abstracts/variables' as *;

.footer {
  background-color: $secundario;

  &__text {
  padding: 2rem;
 font-family: $fuenteParrafos;
 color: $blanco;
 text-align: center;
 font-size: 1.5rem;
 margin: 0;
  }
}
