@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.games{
background-color: $principal;

&__mainTitle{
  @include whiteTitle;
margin: 0;
padding-top: 3rem;
padding-bottom: 3rem;
font-size: 5rem;
text-align: center;
align-items: center;
}
&__trio{
display: flex;
justify-content: center;
gap: $separacion;
background-color: $terciario;
padding: 3rem;
    @media (max-width: $smartphone) {
      flex-direction: column;
      text-align: center;
    }
}

&__gameName{
color: $secundario;
font-family: $fuenteParrafos;
text-align: center;
}
&__rom{
border-radius: 10%;
    width: 30rem;
max-width: 100%;


}
&__card{
display: flex;
flex-direction: column;
}
&__btn{
    margin-top: 3rem;
    padding: 5%;
 font-family: $fuenteParrafos;
color: $secundario;
    font-weight: bold;
font-size: 2rem;
border-radius:10%;
  cursor: pointer;

&__btn:hover {
  opacity: 0.85;
}

&__btn:active {
  transform: scale(0.97);
}


}
}












